<div id="project" class="form">
<%= simple_form_for(@project, 
  :url => (@project.id.blank? ? projects_path : project_path(@project)) ) do |f| %>

  <div class="inputs">
    
		    
			  <%= f.input :name, :placeholder=>'Name ...', :label=>false %>
			
    
		    
			  <%= f.input :summary, :placeholder=>'Summary ...', :label=>false %>
			
    
		    
			  <%= f.input :content, :placeholder=>'Content ...', :label=>false, :input_html=>{:rows=>12, :cols=>60} %>
			
    
		    
			  <%= f.input :status, :placeholder=>'Status ...', :label=>false %>
			
    
		    
			  <%= f.input :begin_at %>			
    
		    
			  <%= f.input :trace, :placeholder=>'Trace ...', :label=>false, :input_html=>{:rows=>6, :cols=>60} %>
			
  </div>
  <div class="actions">
    <%= f.submit "提交", :class => "button" %> &nbsp; <%= link_to '返回', projects_path %>
  </div>
<% end %>
</div>
