<%%= content_for :sitemap do %>
<span class="current">列表</span>
<%% end %>
<%%= render 'base' %>
<div class="tools">
  <a href="<%%= <%= plural_table_name %>_path %>" class="button">全部</a>
  <a href="<%%= new_<%= singular_table_name %>_path %>" class="button">新建</a>
</div>

<div id="<%= plural_table_name %>">
  <%%= grid(@<%= plural_file_name %>, :show_filters => :always) do |g|
    g.column :column_name => '', :attribute_name => 'id', :no_filter => true
    <% for attribute in attributes -%>
	    <%if attribute.type == :references %>
		  <%attr_name="#{attribute.name}_id"%>
		  g.column :column_name => '<%= attribute.name.to_s.humanize %>', :attribute_name => '<%= attr_name %>'
		<%else%>
		   g.column :column_name => '<%= attribute.name.to_s.humanize %>', :attribute_name => '<%= attribute.name %>'
		<%end%>	   
	<% end -%>
    g.column :column_name => '创建时间', :attribute_name => 'created_at'
    g.column :column_name => '操作' do |c|
      raw "#{link_to '修改', edit_<%= singular_table_name %>_path(c.id)}
      #{link_to '删除', <%= singular_table_name %>_path(c.id), :method => :delete, :confirm => '确定要删除吗?'}"
    end
  end %>
</div>


